*{
    font-family: 'Fredoka One', cursive;
    font-weight: 150;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #2C2740;
}

@media screen and (min-width: 1000px) {
    #panel, #selection{
        max-width: 700px;
        height: 300px;
        font-size: 10px;
    }
}

button {
    background-color: rgb(144, 252, 144);
    border: 0;
    border-radius: 50%;
    font-size: 4vw;
    transition: box-shadow .5s ease;
    box-shadow: 5px 5px 0 rgb(61, 61, 61);
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px;
    margin-top: 1vw;
    font-size: 35px;
    width: 80px;
    height: 80px;
}

button:hover {
    animation: gradient 5s ease infinite;
    font-size: 45px;
    box-shadow: 0.2vw 0.2vw 0 rgb(41, 41, 41);
}

button#restart {
    height: fit-content;
    width: fit-content;
    border-radius: 15px;
    background-color: rgb(80, 253, 80);
    padding: 0.5vw 1vw;
    font-size: 20px;
}

#selections { 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    width: 700px;
    font-size: 30px;
}

#chooseButtons{
    display: flex;
    justify-content:space-between;
    width: 60%;
}

#panel {
    height: fit-content;
    width: 80%;
    background-color: #D95F76;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin: 1vw;
    margin-top: 2vw;
    color: #2C2740;
}

h3{
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#innerContent {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-evenly;
    align-items: center;
    font-size:20px;
    background-color: rgb(144, 252, 144);
}

#playerScore, #computerScore {
    border-radius: 15px;
    width: 30rem;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    background-color: #ffffff;
    padding: 1rem 0;
    margin: 1rem;
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#playerScoreUpdate, #computerScoreUpdate {
    display: flex;
    font-size: 90px;
    font-weight: lighter;
    height: 80%;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#announcementArea {
    padding: 25px;
    font-size: 30px;
}